#root{
  background-color: #030303;
}
.nav_item{
  color: white;
  margin: 0;
  font-weight: 500;
}
nav{
  border-bottom: #1B1B1B 1px solid;
}
.active{
  color:#00FCA5;
}
.hero_section{
  height: 80vh;
}
.hero_section h1{
  font-weight: 900;
  font-size: 100px;
  line-height: 90px;
}
.hero_p{
  font-weight: 500;
}
.hero_btn{
  background-color: white;
  color: black;
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
}